/* CLEARFIX */
/* ABSOLUTE CENTER */
/* BREAKPOINTS */
/* COLORS */
/* GRID */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  /* 1rem -> 10px */
  font-size: 62.5%;
  /* width < 1200? */
  /* 1200px */
  /* width < 900? */
  /* 900px */
  /* 1800px */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
      /* 1rem = 9px */ } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
      /* 1rem = 8px */ } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
      /* 1rem = 12px */ } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative; }

::selection {
  background-color: #63A4FF;
  color: #FFFFFF; }

.heading-primary {
  backface-visibility: hidden;
  color: #FFFFFF;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    letter-spacing: 2rem;
    font-size: 6rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 2rem;
    animation: moveInLeft 1s ease-out;
    /* 1200px */
    /* 900px */
    /* 600px */ }
    @media only screen and (max-width: 75em) {
      .heading-primary--main {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 17.5em) {
      .heading-primary--main {
        font-size: 3rem; } }
  .heading-primary--sub {
    display: block;
    letter-spacing: .1rem;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 300;
    text-transform: initial;
    animation: moveInRight 1s ease-in-out;
    /* 1200px */
    /* 900px */ }
    @media only screen and (max-width: 75em) {
      .heading-primary--sub {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.6rem; } }

.heading-secondary {
  color: #1976D2;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* 900px */
  /* 600px */ }
  @supports (background-clip: text) and (-webkit-background-clip: text) {
    .heading-secondary {
      background-image: linear-gradient(to right, #63A4FF, #004BA0);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text; } }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.6rem; } }

.text-center {
  text-align: center !important; }

/* MARGIN BOTTOM */
.mb-big {
  margin-bottom: 8rem !important;
  /* 900px */
  /* 600px */ }
  @media only screen and (max-width: 56.25em) {
    .mb-big {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .mb-big {
      margin-bottom: 4rem !important; } }

.mb-medium {
  margin-bottom: 4rem !important;
  /* 900px */ }
  @media only screen and (max-width: 56.25em) {
    .mb-medium {
      margin-bottom: 3rem !important; } }

.mb-small {
  margin-bottom: 1.5rem !important; }

/* MARGIN TOP */
.mt-big {
  margin-top: 8rem !important; }

.mt-medium {
  margin-top: 4rem !important; }

.mt-small {
  margin-top: 2rem !important; }

.btn-primary {
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  color: #004BA0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  outline: none;
  text-transform: uppercase;
  transition: all .4s; }
  .btn-primary:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-5px); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  transition: all .3s ease;
  /* 900px */
  /* 600px */ }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem 5rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .feature-box {
      padding: 2rem 5rem 4rem; } }
  .feature-box__icon {
    background-image: url("../img/desktop_windows.svg");
    background-size: cover;
    margin-bottom: 1rem;
    height: 8rem;
    width: 8rem; }
    @supports (fill: white) {
      .feature-box__icon {
        background-image: none;
        fill: rgba(0, 75, 160, 0.85); } }
  .feature-box__title {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase; }
  .feature-box__text {
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: justify;
    /* 600px */ }
    @media only screen and (max-width: 37.5em) {
      .feature-box__text {
        font-size: 1.6rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem); }

.prices__card {
  border-radius: 4px;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
  color: #EFEFEF;
  padding: 2rem 4rem;
  text-align: center;
  /* 900px */ }
  @media only screen and (max-width: 56.25em) {
    .prices__card {
      padding: 4rem 6rem; } }
  .prices__card--1 {
    background-image: linear-gradient(to bottom left, #00BCD4, #00687B); }
  .prices__card--2 {
    background-image: linear-gradient(to bottom left, #63A4FF, #004BA0); }
  .prices__card--3 {
    background-image: linear-gradient(to bottom left, #FFC400, #AE6E00); }
  .prices__card-icon {
    height: 10rem;
    width: 10rem; }
  .prices__card-title {
    font-size: 2.7rem;
    font-weight: 400;
    margin: 2rem 0; }
  .prices__card-description {
    font-size: 1.6rem;
    font-weight: 300; }
  .prices__card-price {
    font-size: 3.8rem;
    font-weight: 700;
    margin: 2rem 0; }
    .prices__card-price sup {
      font-size: 2.2rem;
      font-weight: 300;
      margin-right: -.5rem; }
  .prices__card-list {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    text-decoration: underline; }

.footer {
  /* Display */
  display: flex;
  justify-content: flex-end;
  /* Styles */
  background-color: #EFEFEF;
  padding: 2rem 4rem;
  /* 900px */ }
  @media only screen and (max-width: 56.25em) {
    .footer {
      justify-content: center;
      padding: 4rem 8rem; } }
  .footer__info {
    font-size: 1.6rem; }

.row {
  margin: 0 auto;
  max-width: 114rem;
  /* 900px */ }
  .row:not(:last-child) {
    margin-bottom: 8rem;
    /* 900px */ }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 3rem;
      max-width: 50rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left;
    /* 900px */ }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem;
      /* 900px */ }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ( (100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ( (100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ( (100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.hero {
  background-image: linear-gradient(to right, rgba(99, 164, 255, 0.7), rgba(0, 75, 160, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* 900px */ }
  @media only screen and (max-width: 56.25em) {
    .hero {
      background-image: linear-gradient(to right, rgba(99, 164, 255, 0.7), rgba(0, 75, 160, 0.8)), url("../img/hero_small.jpg"); } }
  .hero__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.nav {
  /* NAVIGATION */
  /* END NAVIGATION */
  /* MOBILE MENU */
  /* END MOBILE MENU */
  /* DESKTOP MENU */
  /* END DESKTOP MENU */ }
  .nav__container > nav > ul {
    list-style-type: none; }
  .nav__background {
    background-color: #1976D2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000; }
  .nav__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 4rem; }
  .nav__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__logo {
    color: #EFEFEF;
    letter-spacing: .2rem;
    font-size: 2.4rem;
    text-decoration: none; }
  .nav__ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px; }
    .nav__ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .nav__link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #EFEFEF;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700; }
  .nav__icon-menu {
    cursor: pointer;
    fill: #EFEFEF;
    height: 3.5rem;
    width: 3.5rem; }
  @media screen and (max-width: 56.25em) {
    .nav__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 1rem 2rem;
      text-align: left; }
    .nav__ul {
      display: block;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: auto;
      direction: rtl;
      transition: max-height 400ms;
      max-height: 80vh; }
    .nav__hide-ul {
      max-height: 0; }
    .nav__link {
      padding: 1rem 0; } }
  @media screen and (min-width: 56.3125em) {
    .nav__menu-button {
      display: none; }
    .nav__link {
      flex-basis: auto;
      padding: 1rem 1.5rem; } }

/* FEATURES */
.features {
  background-color: #EFEFEF;
  margin-top: -5rem;
  padding: 10rem 0;
  /* 1200px */
  /* 900px */ }
  @media only screen and (max-width: 75em) {
    .features {
      margin-top: 0;
      padding: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .features {
      padding: 4rem 0; } }

/* STORY */
.story {
  background-image: linear-gradient(to right, rgba(99, 164, 255, 0.8), rgba(0, 75, 160, 0.8)), url("../img/client-small.jpg");
  background-position: center;
  background-size: cover;
  color: #EFEFEF;
  height: auto;
  padding: 8rem 18rem;
  position: relative;
  /* 1200px */
  /* 900px */
  /* 600px */ }
  @media only screen and (max-width: 75em) {
    .story {
      padding: 7rem 12rem; } }
  @media only screen and (max-width: 56.25em) {
    .story {
      padding: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      padding: 4rem 5rem; } }
  .story__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    /* 900px */
    /* 600px */ }
    @media only screen and (max-width: 56.25em) {
      .story__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .story__heading {
        font-size: 2.5rem; } }
  .story__text {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 1.5;
    text-align: justify;
    /* 900px */ }
    @media only screen and (max-width: 56.25em) {
      .story__text {
        font-size: 1.6rem; } }
  .story__name {
    display: block;
    font-size: 2rem;
    text-align: right; }

/* DEVELOPERS */
.developers {
  background-color: #EFEFEF;
  margin-top: -5rem;
  padding: 10rem 0;
  text-align: center;
  /* 1200px */
  /* 600px */ }
  @media only screen and (max-width: 75em) {
    .developers {
      padding: 10rem 5rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .developers {
      margin-top: 0;
      padding: 5rem 0; } }
  .developers-developer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    transition: all .3s ease; }
    .developers-developer:hover {
      transform: scale(1.035); }
  .developers__img {
    height: auto;
    width: 85%; }
  .developers__title {
    color: #444444;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: .8rem; }
  .developers__subtitle {
    color: #444444;
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic; }
  .developers__text {
    color: rgba(68, 68, 68, 0.9);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    /* 900px */ }
    @media only screen and (max-width: 56.25em) {
      .developers__text {
        font-size: 1.6rem; } }

/* PRICES */
.prices {
  background-image: url("../img/prices_bg.svg");
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 8rem;
  /* 1200px */
  /* 900px */ }
  @media only screen and (max-width: 75em) {
    .prices {
      padding: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .prices {
      padding: 8rem 0; } }

/* CONTACT */
.information {
  background-color: #EFEFEF;
  padding: 5rem 0;
  /* 1200px */ }
  @media only screen and (max-width: 75em) {
    .information {
      padding: 5rem; } }
  .information__title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    /* 600px */ }
    @media only screen and (max-width: 37.5em) {
      .information__title {
        font-size: 2rem; } }
  .information__paragraph {
    font-size: 1.8rem;
    font-weight: 300;
    /* 600px */ }
    @media only screen and (max-width: 37.5em) {
      .information__paragraph {
        font-size: 1.6rem; } }
