/* COLORS */
$color-primary: #1976D2;
$color-primary-light: #63A4FF;
$color-primary-dark: #004BA0;

$color-secondary-light: #00BCD4;
$color-secondary-dark: #00687B;

$color-tertiary-light: #FFC400;
$color-tertiary-dark: #AE6E00;

$color-grey-dark: #7B7B7B;
$color-grey-light-1: #BDBDBD;
$color-grey-light-2: #EFEFEF;

$color-white: #FFFFFF;
$color-black: #000000;

/* GRID */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;